.rsvp-form {
  &__fields {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    @media only screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
  &__label-text {
    position: absolute;
    left: 12px;
    bottom: 1.3rem;
    font-size: 2rem;
    font-weight: 500;
    transform: translate(0, 25%);
    transition: all .1s ease;
    pointer-events: none;
    color: var(--accent-color);
  }
  &__error-text:after {
    content: "* Required field";
    color: red;
    position: absolute;
    right: 0;
    bottom: -25px;
    font-size: 12px;
    display: none;
  }
  &__text-input {
      border: 1px solid var(--landing-bg);
      border-bottom: 1px solid var(--accent-color);
      height: auto;
      appearance: auto;
      font-size: 2rem;
      font-weight: 500;
      background: var(--landing-bg);
      padding: 12px 12px 6px;
      width: 100%;
      border-radius: 0;
      ::-webkit-input-placeholder {
          font-size: 14px;
          line-height: 3;
          font-family: GoodSans;
      }
  }
  &__label {
    position: relative;
    padding-top: 25px;
    &--active {
      .rsvp-form__label-text {
        transform: translate(-12px, -28px);
        font-size: 12px;
      }
    }
    &--error {
      .rsvp-form__text-input {
        border-color: red;
      }
      .rsvp-form__error-text:after {
        display: block;
      }
    }
    &--invalid {
      .rsvp-form__error-text:after {
        content: "*Invalid Entry"
      }
    }
  }
  .button {
    margin-top: 60px;
    padding: 18px 60px;
  }
  &__success-message {
      display: none;
      font-size: 28px;
      line-height: 1.25em;
      margin-top: 25px;
      border: 1px solid var(--accent-color);
      @media only screen and (max-width: 640px) {
         font-size: 20px;
      }
  }
  &__error-message {
      display: none;
      color: red;
  }
  &--success {
    .rsvp-form__success-message {
      display: block;
    }
    .rsvp-form__fields, .button {
      display: none;
    }
  }
  &--error {
    .rsvp-form__error-message {
      display: block;
    }
  }
}
//   NEWSLETTER 

.subscriptions {
    border-top: 1px solid var(--accent-color);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media only screen and (max-width: 640px) {
        padding-bottom: calc(25px + 36px + 60px);
    }
    ::placeholder {
        color: var(--accent-color);
        font-size: 2rem;
    }
    input[type="text"] {
        background: var(--landing-bg);
        padding-top: 12px;
    }
    // @include breakpoint-max("md") {
    //     height: auto;
    // }
    .sub-email {
    
        // @include breakpoint-max("lg") {
        //     padding-left: 40px;
        // }
        // @include breakpoint-max("md") {
        //     width: 100%;
        //     max-width: 100%;
        //     border-bottom: 1px solid #c2c0bd;
        //     border-right: none;
        // }
        // @include breakpoint-max("sm") {
        //     padding-top: 40px;
        //     padding-bottom: 60px;
        //     height: auto;
        // }
        h1 {
            // @include breakpoint-max("lg") {
            //     width: 100%;
            // }
        }

        input[type="text"] {
            border: 1px solid transparent;
            border-bottom: 1px solid var(--accent-color);
            width: 100%;
            font-size: 2rem;
            margin-top: 20px;
            padding: 12px 12px 6px;
            line-height: 20px;

            &.error {
                border: 1px solid red;
            }
            ::-webkit-input-placeholder {
                font-size: 14px;
                line-height: 3;
                font-family: GoodSans;
            }
        }
        .email-input {

            button {
                margin-left: -21px;
                background: none;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
        .privacy-policy-footer {
            margin: 18px 0px 5px 0px;
            // @include breakpoint-max("md") {
            //     width: 100%;
            // }
            &.error {
                border: 1px solid red;
            }
            .checkbox {
              display: flex;
            }
            .check-label {
                margin-bottom: 0;
                cursor: pointer;
                text-align: start;
                color: #363636;
                font-size: 14px;
                line-height: 20px;
                font-family: "GoodSans";
                font-weight: normal;
            }

            .privacy-link {
                font-size: 12px;
                line-height: 17px;
                text-transform: capitalize;
                color: #363636;
                font-weight: normal;
                text-decoration: underline;
            }
        }
        .newsletter-footer {
            margin: 5px 0px 5px 0px;
            max-width: 440px;
        
            &.error {
                border: 1px solid red;
            }
            .check-label {
                margin-bottom: 0;
                cursor: pointer;
                text-align: start;
                color: #363636;
                font-size: 14px;
                line-height: 20px;
                font-family: "GoodSans";
                font-weight: normal;
            }
        }
        .footer-processing {
            display: none;
            text-align: center;
            margin-top: 50px;
            img {
                width: 50px;
            }
        }
        .footer-response {
            display: none;
            h1 {
                width: 400px;
                // @include breakpoint-max("lg") {
                //     width: 100%;
                // }
            }
        }
    }

    .sub-social {
        background-color: #efebe1;
        padding-top: 70px;
        float: left;
        padding-left: 100px;
        // @include breakpoint-max("lg") {
        //     padding-left: 40px;
        // }
        // @include breakpoint-max("md") {
        //     width: 100%;
        //     max-width: 100%;
        //     padding-bottom: 60px;
        // }
        // @include breakpoint-max("sm") {
        //     padding-top: 40px;
        //     padding-bottom: 60px;
        //     height: auto;
        // }
        h1 {
            width: 400px;
            // @include breakpoint-max("lg") {
            //     width: 99%;
            // }
        }

        .social-icons {
            margin-top: 50px;
        }

        .social-icons a {
            margin-right: 15px;
            img {
                vertical-align: baseline;
                width: 40px;
                height: 40px;
            }
        }
        .backtotop-fixed-div {
            display: none;
            height: 60px;
            text-align: right;
            padding-top: 10px;
            margin-right: 40px;
            position: absolute;
            right: 0;

            .backtotop-fixed {
                display: inline;
                background: white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 15px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                padding-bottom: 10px;
                .logo {
                    width: 40px;
                }
            }
        }
    }
}